<!DOCTYPE HTML>
<!--
	Modified by Alexandre Deneuve
	Original Template:
		Visualize by TEMPLATED
		templated.co @templatedco
		Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
{% load static %}
<html>
	<head>
		<link rel="icon" type="image/png" href="{% static 'common/images/favicon.png' %}" />
		<title>Alexandre Deneuve website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'index/assets/css/main.css' %}" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<span class="avatar"><img src="{% static 'index/images/profile.jpg' %}" alt="" /></span>
						<h1>My name is <strong>Alexandre Deneuve</strong>, a french software engineer living in Montréal, QC, Canada.</h1>
						<ul class="icons">
							<li><i href="https://www.facebook.com/Alexandre.Liyra" target="_blank" class="iconBrands style2 fab fa-facebook-f"><span class="label">Facebook</span></i></li>
							<li><a href="https://www.instagram.com/alexandre.deneuve/" target="_blank" class="iconBrands style2 fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://www.linkedin.com/in/alexandre-deneuve-16bb0a25/" target="_blank" class="iconBrands style2 fa-linkedin"><span class="label">Linkedin</span></a></li>
							<li><a href="https://github.com/Liyra" target="_blank" class="iconBrands style2 fa-github"><span class="label">Github</span></a></li>
							<li><a href="/resume" class="icon style2 fa-file-alt"><span class="label">Resume</span></a></li>
							<li><a href="https://steamcommunity.com/profiles/76561197978314886" target="_blank" class="iconBrands style2 fa-steam"><span class="label">Steam</span></a></li>
							<li><a href="https://gw.geneanet.org/alexandredeneuve" target="_blank" class="icon style2 fa-leaf"><span class="label">Geneanet</span></a></li>
							<li><a href="mailto:alexandre.deneuve@outlook.com" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
						</ul>
					</header>

				<!-- Main -->
					<section id="main">

						<!-- Thumbnails -->
							<section class="thumbnails">
								<div>
									<a href="{% static 'index/images/fulls/01.jpg' %}">
										<img src="{% static 'index/images/thumbs/01.jpg' %}" alt="" />
										<h3>Montréal Olympic Stadium</h3>
									</a>
									<a href="{% static 'index/images/fulls/02.jpg' %}">
										<img src="{% static 'index/images/thumbs/02.jpg' %}" alt="" />
										<h3>Recycled cycle from SOSVelo</h3>
									</a>
								</div>
								<div>
									<a href="{% static 'index/images/fulls/03.jpg' %}">
										<img src="{% static 'index/images/thumbs/03.jpg' %}" alt="" />
										<h3>Whisky night at the Burgundy Lion</h3>
									</a>
									<a href="{% static 'index/images/fulls/04.jpg' %}">
										<img src="{% static 'index/images/thumbs/04.jpg' %}" alt="" />
										<h3>Champlain Bridge</h3>
									</a>
									<a href="{% static 'index/images/fulls/05.jpg' %}">
										<img src="{% static 'index/images/thumbs/05.jpg' %}" alt="" />
										<h3>House near Pie IX metro station</h3>
									</a>
								</div>
								<div>
									<a href="{% static 'index/images/fulls/06.jpg' %}">
										<img src="{% static 'index/images/thumbs/06.jpg' %}" alt="" />
										<h3>Snowy day in Montréal</h3>
									</a>
									<a href="{% static 'index/images/fulls/07.jpg' %}">
										<img src="{% static 'index/images/thumbs/07.jpg' %}" alt="" />
										<h3>Lachine Rapids</h3>
									</a>
								</div>
							</section>

					</section>

				<!-- Footer -->
					<footer id="footer">
						<p>&copy; <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'index/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'index/assets/js/jquery.poptrox.min.js' %}"></script>
			<script src="{% static 'index/assets/js/skel.min.js' %}"></script>
			<script src="{% static 'index/assets/js/main.js' %}"></script>
	</body>
</html>